@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,800&display=swap");

/* shared styles */

body {
  font-family: "Open Sans", sans-serif;

  margin: 0;
}

.primary-text {
  color: orangered;
}

.primary-color {
  
  background-color: rgb(224, 64, 5);
}



/* nav related styles */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 200px;
}

.nav-titile {
  font-size: 45px;
  font-weight: 800;
}

nav > ul {
  display: flex;
  align-items: center;
  
}

nav li {
  list-style: none;
  margin-right: 50px;

}

nav li a {
  text-decoration: none;
}

nav li button {
  color: rgb(66, 52, 52);
  padding: 10px 20px ;
  border: none;
  border-radius: 3px;
  font-weight: 900;
}


/* header related styles */

.header {
  background-color: rgba(50, 168, 82, 0.308);
  
}

/* banner related styles */



.banner {
  width: 585px;
  padding-left: 200px;
}

.banner-text {
  color: gray;
}

.banner-header {
  font-style: italic;
  color: rgba(4, 112, 76, 0.89);
}

.banner-description {
  color: rgb(124, 107, 107);
}

.contact {
  background-color: rgb(221, 207, 207);
  color: orangered;
  border: 1px solid rgba(228, 69, 11, 0.212);
  border-radius: 3px;
  padding: 10px 15px;
  
}


.download {
  border: none;
  border-radius: 3px;
  padding: 10px 15px;
  margin-right: 15px;
  margin-bottom: 20px;
}

.banner-heading {
  margin-bottom: 30px;
}

